{% extends "fye/base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1>Inbox</h1>
        <table class="table table-compact table-striped">
            <thead>
                <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Received</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody hx-confirm="Are you sure?"
                   hx-target="closest tr"
                   hx-swap="outerHTML swap:1s">
                <!-- Example row -->
                {% for email in emails %}
                    <tr>
                        <td>{{ email.sender }}</td>
                        <td>{{ email.recipient }}</td>
                        <td>
                            <a href="{% url "fuckyouremails:message" email.message_id %}">{{ email.subject }}</a>
                        </td>
                        <td>{{ email.last_modified }}</td>
                        <td>
                            <button class="btn btn-danger"
                                    hx-delete="{% url "fuckyouremails:message" email.message_id %}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Repeat rows as needed -->
            </tbody>
        </table>
    </div>
{% endblock %}
